{% extends 'shablon_VD05_hw.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
<div class="container">

    <div class="vstack gap-2 mb-1" style="margin-top: 30px;">
        <div class="p-3 mb-2 pb-4 bg-primary-subtle text-primary-emphasis"><h4>Новостной блог</h4></div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="../static/image/vb04_2.jpg" class="img-fluid rounded-start" alt="news">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="card-body">
                    <h5 class="card-title">Открытие крупнейшего ветропарка в мире</h5>
                    <p class="card-text">Сегодня в Шотландии состоялось торжественное открытие крупнейшего в мире
                        ветропарка, расположенного на
                        побережье Северного моря. Этот проект, получивший название "Гигант Эко", включает в себя более
                        200 турбин и
                        способен обеспечивать электроэнергией около 3 миллионов домов. Ожидается, что этот шаг
                        значительно сократит
                        выбросы углекислого газа в Великобритании и укрепит ее позиции как мирового лидера в области
                        возобновляемой
                        энергетики. Премьер-министр отметил, что это важный шаг на пути к достижению углеродной
                        нейтральности к 2050
                        году.</p>
                    <p class="card-text"><small class="text-body-secondary">1 октября 2023</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="../static/image/vb04_1.jpg" class="img-fluid rounded-start" alt="news">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="card-body">
                    <h5 class="card-title">Британская библиотека открывает уникальную выставку</h5>
                    <p class="card-text">Сегодня в Лондоне открылась уникальная выставка, посвященная истории
                        книгопечатания в Великобритании. Среди экспонатов — первое издание "Гарри Поттера" с автографом
                        Джоан Роулинг и редчайшая копия "Кентерберийских рассказов" Чосера. Посетители смогут увидеть
                        более 500 экспонатов, включая древние манускрипты и современные произведения. Выставка продлится
                        до конца декабря и уже привлекла внимание литературных критиков и любителей книг со всего мира.

                    </p>
                    <p class="card-text"><small class="text-body-secondary">7 октября 2023</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="../static/image/vb04_3.jpg" class="img-fluid rounded-start" alt="news">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="card-body">
                    <h5 class="card-title">Королевская семья объявила о новом пополнении</h5>
                    <p class="card-text">Британская королевская семья поделилась радостной новостью: принц Уильям и
                        герцогиня Кэтрин ожидают четвертого ребенка. Официальное заявление было сделано из
                        Кенсингтонского дворца, где пара проживает с тремя детьми. Фанаты королевской семьи выразили
                        свою поддержку и радость в социальных сетях. Ожидается, что малыш появится на свет весной 2024
                        года.

                    </p>
                    <p class="card-text"><small class="text-body-secondary">15 октября 2023</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="../static/image/vb04_4.jpg" class="img-fluid rounded-start" alt="news">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="card-body">
                    <h5 class="card-title">Лондонский марафон собрал рекордное количество участников</h5>
                    <p class="card-text">В этом году Лондонский марафон собрал рекордное число участников — более 50
                        тысяч бегунов со всего мира. Мероприятие прошло под девизом борьбы с изменением климата, и
                        многие участники бежали в костюмах, символизирующих экологические проблемы. Победителем среди
                        мужчин стал кениец Элиуд Кипчоге, а среди женщин — его соотечественница Бригида Косгей.
                        Организаторы отмечают, что марафон помог собрать более 10 миллионов фунтов стерлингов на
                        благотворительные нужды.


                    </p>
                    <p class="card-text"><small class="text-body-secondary">21 октября 2023</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="../static/image/vb04_5.jpg" class="img-fluid rounded-start" alt="news">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="card-body">
                    <h5 class="card-title">Британская кулинария признана объектом нематериального наследия ЮНЕСКО</h5>
                    <p class="card-text">Впервые в истории британская кулинарная традиция была признана объектом
                        нематериального культурного наследия ЮНЕСКО. Это решение было принято на заседании комитета
                        ЮНЕСКО в Париже. Особое внимание было уделено таким национальным блюдам, как рыбные пироги,
                        йоркширский пудинг и традиционный английский завтрак. Это признание способствует продвижению
                        британской кухни на международной арене и укрепляет ее позиции в мировой гастрономии.

                    </p>
                    <p class="card-text"><small class="text-body-secondary">28 октября 2023</small></p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
