<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body background="https://avatars.mds.yandex.net/i?id=d98809dd3297bddd046ce26930d61fd4_l-5344477-images-thumbs&n=13">


<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top bg-body-tertiary">
    <a class="navbar-brand" href="#">
        <img src="../static/image/VD03_hw_4.png" alt="Logo" width="30" height="24"
             class="d-inline-block align-text-top">
        Welcome to the UK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Блог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts">Контакты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#food">Блюда</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#info">О важном</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="vstack gap-2 mb-1" style="margin-top: 30px;">
        <div class="p-3 mb-2 pb-4 bg-primary-subtle text-primary-emphasis"><h4>Новостной блог</h4></div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="../static/image/vb04_2.jpg" class="img-fluid rounded-start" alt="news">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="card-body">
                    <h5 class="card-title">Открытие крупнейшего ветропарка в мире</h5>
                    <p class="card-text">Сегодня в Шотландии состоялось торжественное открытие крупнейшего в мире
                        ветропарка, расположенного на
                        побережье Северного моря. Этот проект, получивший название "Гигант Эко", включает в себя более
                        200 турбин и
                        способен обеспечивать электроэнергией около 3 миллионов домов. Ожидается, что этот шаг
                        значительно сократит
                        выбросы углекислого газа в Великобритании и укрепит ее позиции как мирового лидера в области
                        возобновляемой
                        энергетики. Премьер-министр отметил, что это важный шаг на пути к достижению углеродной
                        нейтральности к 2050
                        году.</p>
                    <p class="card-text"><small class="text-body-secondary">1 октября 2023</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="../static/image/vb04_1.jpg" class="img-fluid rounded-start" alt="news">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="card-body">
                    <h5 class="card-title">Британская библиотека открывает уникальную выставку</h5>
                    <p class="card-text">Сегодня в Лондоне открылась уникальная выставка, посвященная истории
                        книгопечатания в Великобритании. Среди экспонатов — первое издание "Гарри Поттера" с автографом
                        Джоан Роулинг и редчайшая копия "Кентерберийских рассказов" Чосера. Посетители смогут увидеть
                        более 500 экспонатов, включая древние манускрипты и современные произведения. Выставка продлится
                        до конца декабря и уже привлекла внимание литературных критиков и любителей книг со всего мира.

                    </p>
                    <p class="card-text"><small class="text-body-secondary">7 октября 2023</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="../static/image/vb04_3.jpg" class="img-fluid rounded-start" alt="news">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="card-body">
                    <h5 class="card-title">Королевская семья объявила о новом пополнении</h5>
                    <p class="card-text">Британская королевская семья поделилась радостной новостью: принц Уильям и
                        герцогиня Кэтрин ожидают четвертого ребенка. Официальное заявление было сделано из
                        Кенсингтонского дворца, где пара проживает с тремя детьми. Фанаты королевской семьи выразили
                        свою поддержку и радость в социальных сетях. Ожидается, что малыш появится на свет весной 2024
                        года.

                    </p>
                    <p class="card-text"><small class="text-body-secondary">15 октября 2023</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="../static/image/vb04_4.jpg" class="img-fluid rounded-start" alt="news">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="card-body">
                    <h5 class="card-title">Лондонский марафон собрал рекордное количество участников</h5>
                    <p class="card-text">В этом году Лондонский марафон собрал рекордное число участников — более 50
                        тысяч бегунов со всего мира. Мероприятие прошло под девизом борьбы с изменением климата, и
                        многие участники бежали в костюмах, символизирующих экологические проблемы. Победителем среди
                        мужчин стал кениец Элиуд Кипчоге, а среди женщин — его соотечественница Бригида Косгей.
                        Организаторы отмечают, что марафон помог собрать более 10 миллионов фунтов стерлингов на
                        благотворительные нужды.


                    </p>
                    <p class="card-text"><small class="text-body-secondary">21 октября 2023</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="../static/image/vb04_5.jpg" class="img-fluid rounded-start" alt="news">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="card-body">
                    <h5 class="card-title">Британская кулинария признана объектом нематериального наследия ЮНЕСКО</h5>
                    <p class="card-text">Впервые в истории британская кулинарная традиция была признана объектом
                        нематериального культурного наследия ЮНЕСКО. Это решение было принято на заседании комитета
                        ЮНЕСКО в Париже. Особое внимание было уделено таким национальным блюдам, как рыбные пироги,
                        йоркширский пудинг и традиционный английский завтрак. Это признание способствует продвижению
                        британской кухни на международной арене и укрепляет ее позиции в мировой гастрономии.

                    </p>
                    <p class="card-text"><small class="text-body-secondary">28 октября 2023</small></p>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container my-5">
    <footer class="text-center text-white" style="background-color: #0a4275;">
        <div class="container p-3 pb-0">
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">WelcomeToTheUK.com</span>
                <button type="button" class="btn btn-outline-light btn-rounded">
                    Sign up!
                </button>
            </p>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; 2024 Об Англии для VD03
        </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>