{% extends 'shablon_VD05_hw.html' %}

{% block title %}
    Contacts
{% endblock %}

{% block content %}
<div class="container">

    <div class="vstack gap-2 mb-2" style="margin-top: 30px;">
        <div class="p-3 mb-2 pb-4 bg-primary-subtle text-primary-emphasis"><h4>Вы можете найти нас здесь:</h4></div>
        <div class="p-3 mb-1 bg-primary-subtle text-primary-emphasis"><mark>Наш instagram: </mark>https://www.instagram.com/WelcomeToTheUK</div>
        <div class="p-3 mb-1 bg-primary-subtle text-primary-emphasis"><mark>Наш телеграм: </mark>https://t.me/WelcomeToTheUK</div>
        <div class="p-3 mb-1 bg-primary-subtle text-primary-emphasis"><mark>Наш YouTube канал:</mark> https://www.youtube.com/WelcomeToTheUK</div>
        <div class="p-3 mb-1 bg-primary-subtle text-primary-emphasis"><mark>Наш сайт:</mark> https://www.WelcomeToTheUK.com</div>
        <div class="p-3 mb-1 bg-primary-subtle text-primary-emphasis"><mark>Наш адрес:</mark> Queen Square, London WN1C 3GR, The United Kingdom</div>
    </div>

</div>
{% endblock %}
