<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body background="https://avatars.mds.yandex.net/i?id=d98809dd3297bddd046ce26930d61fd4_l-5344477-images-thumbs&n=13">


<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top bg-body-tertiary">
    <a class="navbar-brand" href="#">
        <img src="../static/image/VD03_hw_4.png" alt="Logo" width="30" height="24"
             class="d-inline-block align-text-top">
        Welcome to the UK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Блог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts">Контакты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#food">Блюда</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#info">О важном</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="vstack gap-2 mb-2" style="margin-top: 30px;">
        <div class="p-3 mb-2 pb-4 bg-primary-subtle text-primary-emphasis"><h4>Вы можете найти нас здесь:</h4></div>
        <div class="p-3 mb-1 bg-primary-subtle text-primary-emphasis"><mark>Наш instagram: </mark>https://www.instagram.com/WelcomeToTheUK</div>
        <div class="p-3 mb-1 bg-primary-subtle text-primary-emphasis"><mark>Наш телеграм: </mark>https://t.me/WelcomeToTheUK</div>
        <div class="p-3 mb-1 bg-primary-subtle text-primary-emphasis"><mark>Наш YouTube канал:</mark> https://www.youtube.com/WelcomeToTheUK</div>
        <div class="p-3 mb-1 bg-primary-subtle text-primary-emphasis"><mark>Наш сайт:</mark> https://www.WelcomeToTheUK.com</div>
        <div class="p-3 mb-1 bg-primary-subtle text-primary-emphasis"><mark>Наш адрес:</mark> Queen Square, London WN1C 3GR, The United Kingdom</div>
    </div>

</div>


<div class="container my-5">
    <footer class="text-center text-white" style="background-color: #0a4275;">
        <div class="container p-3 pb-0">
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">WelcomeToTheUK.com</span>
                <button type="button" class="btn btn-outline-light btn-rounded">
                    Sign up!
                </button>
            </p>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; 2024 Об Англии для VD03
        </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>